<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/output.css') }}">
</head>

<body class="overflow-x-hidden">
    <div class="grid grid-cols-[20%_80%] w-screen">
        <div class="bg-[#D2E0FB] flex flex-col">
            <div class="absolute top-8 left-5 text-3xl font-bold italic">Dissertation</div>
            <div class="flex flex-col mt-24 p-4">
                <div class="flex items-start ">
                    <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px"
                        class="mr-2" fill="#434343">
                        <path
                            d="M248-250q55-37 110-58.5T480-330q67 0 122 21.5T712-250q43-45 68.5-103.09Q806-411.17 806-480q0-136-95-231t-231-95q-136 0-231 95t-95 231q0 68.83 25.5 126.91Q205-295 248-250Zm231.73-219q-47.73 0-80.23-32.77-32.5-32.76-32.5-80.5 0-47.73 32.77-80.23 32.76-32.5 80.5-32.5 47.73 0 80.23 32.77 32.5 32.76 32.5 80.5 0 47.73-32.77 80.23-32.76 32.5-80.5 32.5Zm.74 337q-73.47 0-136.68-27-63.22-27-110.5-74.5Q186-281 159-343.77q-27-62.76-27-136Q132-553 159-616q27-63 74.5-110.5T343.77-801q62.76-27 136-27Q553-828 616-801q63 27 110.5 74.5T801-615.97q27 63.03 27 135.5 0 73.47-27 136.68-27 63.22-74.5 110.5Q679-186 615.97-159q-63.03 27-135.5 27Zm-.47-22q57 0 114-20.5T694-234q-43-34-97.5-54T480-308q-62 0-117 19.5T267-234q42 39 99 59.5T480-154Zm.14-337Q519-491 545-517.14t26-65Q571-621 544.86-647t-65-26Q441-673 415-646.86t-26 65Q389-543 415.14-517t65 26Zm-.14-91Zm0 351Z" />
                    </svg>
                    <div>
                        <h1 class="text-left font-thin text-3xl">Welcome {{ data.doctorid }}!</h1>
                        <p class="text-sm font-extralight text-left mt-2">Doctor</p>
                        <p class="text-sm font-extralight text-left mt-2">{{ data.hospital }}</p>
                    </div>
                </div>
            </div>
            <div>
                <form id="time-report-form">
                    <div class="rounded-3xl m-4 py-2 bg-white drop-shadow-xl">
                        <h1 class="text-2xl mt-2">Add Reporting Time</h1>
                        <div class="my-4 grid grid-cols-[40%_60%] align-middle">
                            <label class="place-self-end mr-2 align-middle" for="date">Date</label>
                            <input class="border border-black place-self-start h-10 rounded-3xl px-2" name="date"
                                id="date-report" type="date" />
                        </div>
                        <div class="mb-4 grid grid-cols-[40%_60%]">
                            <label class="place-self-end mr-2" for="starttime">Start time</label>
                            <input class="border border-black place-self-start h-10 rounded-3xl px-2" name="starttime"
                                id="time-report" type="time" />
                        </div>
                        <div class="grid grid-cols-[40%_60%]">
                            <label class="place-self-end mr-2" for="endtime">End time</label>
                            <input class="border border-black place-self-start h-10 rounded-3xl px-2" name="endtime"
                                id="time-report" type="time" />
                        </div>
                        <br>
                        <button class=" rounded-3xl" id="time-report-submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <main class="rounded-3xl">
            <header class="flex justify-between " id="header">
                <div></div>
                <div class="flex flex-row-reverse m-2">
                    <button onclick="doctorLogout()" class="w-full rounded-3xl">Logout</button>
                </div>
            </header>
            <div class="rounded-3xl px-4 pt-4 pb-32 overflow-hidden border border-black flex flex-col">
                <h1 class="text-2xl">Your Appointments</h1>
                <div class="flex flex-wrap">
                    {% for aptmt in data.appointments %}
                    <div class="rounded-3xl m-2 p-2 bg-white flex hover:cursor-pointer drop-shadow-xl min-w-[300px]"
                        onclick="handleAppointmentClick('{{aptmt.username}}', '{{aptmt._id}}')">
                        <div class="p-2 border-r">
                            {% set dateSplit = aptmt.displayDate.split("-") %}
                            <p class="font-thin text-xs">{{ dateSplit[0] }} {{dateSplit[1]}}</p>
                            <p class="text-2xl">{{ dateSplit[2] }}</p>
                            <p class="font-thin text-xs">{{ aptmt.timeSlot }}</p>
                        </div>
                        <div class="p-2">
                            <div class="ml-2 flex">
                                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                                    width="24px" fill="#434343">
                                    <path
                                        d="M480-492.31q-57.75 0-98.87-41.12Q340-574.56 340-632.31q0-57.75 41.13-98.87 41.12-41.13 98.87-41.13 57.75 0 98.87 41.13Q620-690.06 620-632.31q0 57.75-41.13 98.88-41.12 41.12-98.87 41.12ZM180-187.69v-88.93q0-29.38 15.96-54.42 15.96-25.04 42.66-38.5 59.3-29.07 119.65-43.61 60.35-14.54 121.73-14.54t121.73 14.54q60.35 14.54 119.65 43.61 26.7 13.46 42.66 38.5Q780-306 780-276.62v88.93H180Zm60-60h480v-28.93q0-12.15-7.04-22.5-7.04-10.34-19.11-16.88-51.7-25.46-105.42-38.58Q534.7-367.69 480-367.69q-54.7 0-108.43 13.11-53.72 13.12-105.42 38.58-12.07 6.54-19.11 16.88-7.04 10.35-7.04 22.5v28.93Zm240-304.62q33 0 56.5-23.5t23.5-56.5q0-33-23.5-56.5t-56.5-23.5q-33 0-56.5 23.5t-23.5 56.5q0 33 23.5 56.5t56.5 23.5Zm0-80Zm0 384.62Z" />
                                </svg>
                                <p>{{ aptmt.username }}</p>
                            </div>
                            <div class="flex ml-2">
                                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                                    width="24px" fill="#434343">
                                    <path
                                        d="M173.08-173.08v-60H290l-29.08-27.84q-49.3-45.62-70.11-102.12Q170-419.54 170-477.23q0-103.69 60.73-185.96Q291.46-745.46 390-776.15v63.23q-72.39 28.3-116.19 92.73Q230-555.77 230-477.23q0 46.92 17.77 91.15 17.77 44.23 55.31 81.77l25.38 25.39v-109.54h60v215.38H173.08ZM570-183.85v-63.23q72.39-28.3 116.19-92.73Q730-404.23 730-482.77q0-46.92-17.77-91.15-17.77-44.23-55.31-81.77l-25.38-25.39v109.54h-60v-215.38h215.38v60H670l29.08 27.84q47.46 47.47 69.19 103.04Q790-540.46 790-482.77q0 103.69-60.73 185.96Q668.54-214.54 570-183.85Z" />
                                </svg>
                                <p>{{ aptmt.status }} </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <br>
                <hr>
                <br>
                <div class="flex justify-evenly">
                    <div class="m-2">
                        <h1 class="mb-2 text-2xl">Today's Reporting Time</h1>
                        {% for report in data.timeReporting %}
                        <div class="flex items-center rounded-3xl bg-white mb-4 drop-shadow-lg mx-4 p-4 min-w-64">
                            <div class="ml-2">   
                                {% set date_parts = report.date.split('-') %}
                                <p class="text-xs font-thin">{{ date_parts[0] }} {{ date_parts[1] }}</p>
                                <p class="text-3xl">{{ date_parts[2] }}</p>
                            </div>
                            <div class="ml-4 border-l border-gray-400 p-2">
                                <div class="flex">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#434343">
                                        <path d="M320-160h320v-120q0-66-47-113t-113-47q-66 0-113 47t-47 113v120ZM160-80v-80h80v-120q0-61 28.5-114.5T348-480q-51-32-79.5-85.5T240-680v-120h-80v-80h640v80h-80v120q0 61-28.5 114.5T612-480q51 32 79.5 85.5T720-280v120h80v80H160Z"/>
                                    </svg>
                                    <p class="ml-2">{{ report.starttime }}</p>
                                </div>
                                <div class="flex"> 
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#434343">
                                        <path d="M480-520q66 0 113-47t47-113v-120H320v120q0 66 47 113t113 47ZM160-80v-80h80v-120q0-61 28.5-114.5T348-480q-51-32-79.5-85.5T240-680v-120h-80v-80h640v80h-80v120q0 61-28.5 114.5T612-480q51 32 79.5 85.5T720-280v120h80v80H160Z"/>
                                    </svg>
                                    <p class="ml-2">{{ report.endtime }}</p>
                                </div>   
                            </div> 
                        </div>
                        {% endfor %}
                    </div>
                    <div class="m-2">
                        <h1 class="mb-2 text-2xl">Scheduled Reporting Time</h1>
                        {% for report in data.futureTimeReporting %}
                        <div class="flex items-center rounded-3xl bg-white mb-4 drop-shadow-lg mx-4 p-4 min-w-64">
                            <div class="ml-2">   
                                {% set date_parts = report.date.split('-') %}
                                <p class="text-xs font-thin">{{ date_parts[0] }} {{ date_parts[1] }}</p>
                                <p class="text-3xl">{{ date_parts[2] }}</p>
                            </div>
                            <div class="ml-4 border-l border-gray-400 p-2">
                                <div class="flex">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#434343">
                                        <path d="M320-160h320v-120q0-66-47-113t-113-47q-66 0-113 47t-47 113v120ZM160-80v-80h80v-120q0-61 28.5-114.5T348-480q-51-32-79.5-85.5T240-680v-120h-80v-80h640v80h-80v120q0 61-28.5 114.5T612-480q51 32 79.5 85.5T720-280v120h80v80H160Z"/>
                                    </svg>
                                    <p class="ml-2">{{ report.starttime }}</p>
                                </div>
                                <div class="flex"> 
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#434343">
                                        <path d="M480-520q66 0 113-47t47-113v-120H320v120q0 66 47 113t113 47ZM160-80v-80h80v-120q0-61 28.5-114.5T348-480q-51-32-79.5-85.5T240-680v-120h-80v-80h640v80h-80v120q0 61-28.5 114.5T612-480q51 32 79.5 85.5T720-280v120h80v80H160Z"/>
                                    </svg>
                                    <p class="ml-2">{{ report.endtime }}</p>
                                </div>   
                            </div> 
                        </div>
                    
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div id="prescription-dialog" class="">
            </div>
        </main>
    </div>
    <footer>
        <p>Copyright © #Gov. #of #India</p>
    </footer>
</body>
<script src="{{ url_for('static', filename='js/doctorHome.js' ) }}" defer></script>

</html>