<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/output.css') }}">
</head>
<body>
    <h1>Welcome {{ data.doctorid }} </h1>
    <h1>Working at: {{ data.hospital }}</h1>
    <button onclick="doctorLogout()" class="btn-primary">Logout</button>
    <form id="time-report-form">
        <h1>Add time reporting</h1>
        <div>
            <label for="date">Date</label>
            <input name="date" id="date-report" type="date"/>
        </div>
        <div>
            <label for="starttime">Start time</label>
            <input name="starttime" id="time-report" type="time" />
        </div>
        <div>
            <label for="endtime">End time</label>
            <input name="endtime" id="time-report" type="time" />
        </div>
        <button id="time-report-submit-btn">Submit</button>
    </form>
    <div class="flex ">
        <div class="m-2">
            <h1 class="mb-2">Your Time reportings for today</h1>
            {% for report in data.timeReporting %}
            <div class="border border-black rounded-lg p-2">
                <p>Date : {{ report.date }}</p>
                <p>Start Time : {{ report.starttime }}</p>
                <p>End Time : {{ report.endtime }}</p>
            </div>
            {% endfor %}
        </div>
        <div class="m-2">
            <h1>Your future time reportings</h1>
            <div class="flex">
                {% for report in data.futureTimeReporting %}
                <div class="border border-black rounded-lg m-2 p-2">
                    <p>Date : {{ report.date }}</p>
                    <p>Start Time : {{ report.starttime }}</p>
                    <p>End Time : {{ report.endtime }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <h1>Your Appointments</h1>
    <div class="flex">
        {% for aptmt in data.appointments %}
        <div class="border border-black rounded-lg m-2 p-2">
            <p> Name : {{ aptmt.username }}</p>
            <p> Date : {{ aptmt.date }} </p>
            <p> Time Slot : {{ aptmt.timeSlot }}</p>
            <p> Status : {{ aptmt.status }} </p>
        </div>
        {% endfor %}
    </div>
</body>
<script src="{{ url_for('static', filename='js/doctorHome.js' ) }}" defer ></script>
</html>