<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/output.css') }}">
</head>
<body>
    <form method="post" action="/doc/login">
        <label for="doctorid">doctorid</label>
        <input class="input-box" name="doctorid"/><br/>
        <label for="password">password</label>
        <input class="input-box" name="password"/><br/>
        <button type="submit">submit</button>
    </form>
    <p>Dont have an account?</p>
    <button><a href="/doc/register">sign up</a></button>
</body>
</html>