<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/output.css') }}">
</head>
<body>
    <header id="header">
        <h1 class="text-6xl">Doctor Login screen</h1>
    </header>
    <hr>
    <main class="px-5 py-5">
        <h2 class="text-3xl">Enter your credentials</h2>
        <br>
        <form method="post" action="/doc/login">
            <div class="py-1">
                <label for="doctorid">Doctor Id</label>
                <input class="input-box ml-1" name="doctorid"/><br/>
            </div>
            <div class="py-1">
                <label for="password">Password</label>
                <input class="input-box" name="password"/><br/>
            </div>
            <br>
            <button class="rounded-3xl" type="submit">Login</button>
        </form>
        <br>
        <hr>
        <p class="py-1" >Don't have an account?</p>
        <button class="rounded-3xl"><a href="/doc/register">Register</a></button>
    </main>
    <footer>
        <p>Copyright © #Gov. #of #India</p>
    </footer>
</body>
</html>