<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/output.css') }}">
</head>
<body>
    <header id="header">
        <h1 class="text-6xl">Doctor Registration Screen</h1>
    </header>
    <hr>
    <main class="px-5 pt-5 h-screen">
        <h2 class="text-3xl">Enter your Details</h2>
        <br>
        <form method="post" action="/doc/register">
            <div class="py-1">
                <label for="doctorid">Doctor Id</label>
                <input class="input-box" name="doctorid"/><br/>
            </div>
            <div class="py-1">
                <label for="firstname">First Name</label>
                <input class="input-box" name="firstname"/><br/>
            </div>
            <div class="py-1">
                <label for="lastname">Last Name</label>
                <input class="input-box" name="lastname"/><br/>
            </div>
            <div class="py-1">
                <label for="phonenumber">Phone Number</label>
                <input class="input-box" name="phonenumber"/><br/>
            </div>
            <div class="py-1">
                <label for="hospitalname">Hospital Name</label>
                <input class="input-box" name="hospitalname"/><br/>
            </div>
            <div class="py-1">
            <label for="doctortype">Doctor Type</label>
            <select class="input-box" name="doctortype">
                <option selected disabled>Select</option>
                <option value="general">General</option>
                <option value="neuro">Neuro</option>
                <option value="diet">Diet</option>
            </select><br/>
            </div>
            <div class="py-1">
                <label for="password">Password</label>
                <input class="input-box" name="password"/><br/>
            </div>
            <br>
            <button class="input-box" type="submit">Submit</button>
        </form>
        <br>
        <hr>
        <p class="py-1">Already have an account?</p>
        <button class="input-box"><a href="/doc/login">Login</a></button>
    </main>
    <footer>
        <p>Copyright © #Gov. #of #India</p>
    </footer>
</body>
</html>