<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/output.css') }}">
</head>
<body>

     <div id="dialog" class="hidden w-full absolute z-10 h-screen flex flex-col justify-center backdrop-blur-sm">
        <div class="flex justify-center h-full">
          <div class="flex flex-col justify-center absolute z-20 w-[450px] h-full  "> 
            <div id="formbdiv"class="border border-black rounded shadow-2xl "> 
                <div class="h-[50px] w-[50px]">
                    <img id="wrong"  src="../wrong.svg"/>
                </div>
                <form id="appointment-form" class="p-10 flex flex-col" >
                <label for="doctype">Doc type</label>
                <select id="doctype-selector" class="input-box" name="doctype">
                    <option selected disabled>select</option>
                    <option value="general">general</option>
                    <option value="nuero">nuero</option>
                    <option value="diet">diet</option>
                </select><br/>
                <label for="date">Date</label>
                <input class="border border-black rounded "id="appointment-date" name="date" type="date"/><br/>
                <label for="time">Time</label>
                <input class="border border-black rounded " name="time" type="time"/><br/>
                <button id="search-submit" class="btn-primary">Submit</button>
            </form>
            </div>
          </div>
         </div>
        </div>
    <main class="">
        <header id="header">
            <div class="flex justify-end">
                <div class="m-2">
                    <button onclick="dialog()"id="make-appointment-btn" class="btn-primary">Make Appointment</button>
                </div>
                <div class="m-2">
                    <button onclick="logout()" class="btn-primary">Logout</button>
                </div>
            </div>
        </header>
        <div class="flex justify-start">  
            <h1 class="text-6xl" >Hello {{ data.username }}! </h1>
        </div>
        
        <br/><br/>
       
        <div id="search-results">
        </div>
        <div>
            <div id="slot-confirm">
            </div>
        </div>

        <div class="py-10">
            <p class="text-2xl">Your upcoming Appointments</p>
            <br>
            <div class="flex flex-row gap-4 " id="userHomeApptn">
                {% if data.appointments %}
                    {% for item in data.appointments %}
                        <div class="input-box p-1">
                            <p>Hospital Name:{{ item.hospitalname }}</p>
                            <p>Doctor Name:{{ item.doctorname }}</p>
                            <p>Time:{{ item.timeSlot }}</p>
                            <p>Status:{{ item.status }}</p>
                            <p>Date:</p>
                            <p>Dept:</p>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No Appointments booked</p>
                {% endif %}
            </div>
        </div>
        <div>
            <h1></h1>
        </div>
    </main>
    <footer>
        <p>Copyright © #Gov. #of #India</p>
    </footer>
</body>
<script src="{{ url_for('static', filename='js/app.js' ) }}" defer ></script>

</html>