<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/login" class="border-black">
        <label for="username">username</label>
        <input name="username"/>
        <label for="password">password</label>
        <input name="password"/>
        <button type="submit">submit</button>
    </form>
    <p>Dont have an account?</p>
    <button><a href="/signup">sign up</a></button>
</body>
</html>