<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/output.css') }}">
</head>
<body>
    <div class="place-content-center">
        <form method="post" action="/login" class="border-black" >
            <label for="username">username</label>
            <input class="input-box" name="username"/>
            <br>
            <label for="password">password</label>
            <input class="input-box" name="password"/>
            <br>
            <button type="submit">submit</button>
        </form>
    </div>
    <hr class="border-y-2">
    <p>Dont have an account?</p>
    <button><a href="/signup">sign up</a></button>
</body>
</html>