<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/signup">
        <label for="username">username</label>
        <input name="username"/><br/>
        <label for="firstname">firstname</label>
        <input name="firstname"/><br/>
        <label for="lastname">lastname</label>
        <input name="lastname"/><br/>
        <label for="phonenumber">phonenumber</label>
        <input name="phonenumber"/><br/>
        <label for="password">password</label>
        <input name="password"/><br/>
        <button type="submit">submit</button>
    </form>
</body>
</html>