@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
    @apply border border-black px-2 rounded-lg;
}

.input-box {
    @apply border border-black rounded-md;
}

body{
    text-align: center;
    border-top-width: 2px;
    border-bottom-width: 2px;
}
header {
    background-color: #D2E0FB;
    color: black;
    padding: 20px;
    text-align: center;
}
main{
    background-color: #DEE5D4;
}
hr{
    border-color: black;
}